<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 
	자식태그는 다음 순서로 작성할것
	Content Model : (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, 
					reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?)
 -->
  <properties resource="/datasource.properties"/>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/><!-- null데이터 전달시 그대로 null로 대입 -->
  	<setting name="mapUnderscoreToCamelCase" value="true"/><!-- db컬럼명_랑 카멜케이스 변환해줌 -->
  </settings>
  
  <typeAliases>
  	<!-- <typeAlias type="com.kh.app.student.model.dto.Student" alias="student"/> -->
  	<package name="com.kh.app"/><!-- 패키지 하위는 전부 그냥 클래스명으로 별칭 등록-->
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- JDBC, MANAGED 두가지가 있다 
     	 JDBC: 개발자가 코드로 직접 트랜잭션 관리
     	 MANAGED: WAS가 트랜잭션 관리
      -->
      <!-- 
      	POOLED: Connection Pool을 만들어 Connection을 매번 생성/폐기하지 않고 재사용함.
       -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="/mapper/student/student-mapper.xml"/>
  </mappers>
</configuration>